Package: com.yourcompany.changehour
Name: ChangeHour
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Lucas Reteau
Author: Lucas Reteau
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
